# --- Environment and Secret files ---
.env                          # Environment variables file for secrets
.env.*                        # Local overrides for environment files

# --- Editor/IDE-specific files ---
*.swp                         # Vim swap files
*.swo                         # Vim temporary files
.vscode/                      # Visual Studio Code settings
.idea/                        # JetBrains IDE settings

# --- Kubernetes-related files ---
*.yaml~                       # Temporary YAML files created by text editors
.kubeconfig                   # Kubernetes config files containing credentials
helm-release.*                # Temporary Helm release files

# --- macOS-specific files ---
.DS_Store                     # Finder metadata files
.AppleDouble                  # Resource fork files

# --- Node.js or Python-related files ---
# Node.js
node_modules/                 # Node.js dependencies
npm-debug.log*                # Debug logs for Node.js
# Python
__pycache__/                  # Python cache folder
*.py[cod]                     # Python compiled files

# --- Temporary and Backup files ---
*.log                         # General log files
*.bak                         # Backup files
*.tmp                         # Temporary files
*~                            # Editor-generated temp files

# --- Terraform-related files ---
# Common Terraform files
.terraform/                   # Local .terraform directories
*.tfstate                     # .tfstate files
*.tfstate.backup              # Backup .tfstate files
*.out                         # Output plan files
.terraform.lock.hcl           # Lock file generated by Terraform
.terraform.tfstate.lock.info  # Lock info created during apply

# Terraform provider files
.terraform/providers/registry.terraform.io/**/LICENSE.txt

# Explicit Terraform tracked files
terraform/.terraform.lock.hcl
terraform/.terraform/terraform.tfstate
terraform/.terraform/providers/registry.terraform.io/hashicorp/aws/5.82.2/darwin_arm64/terraform-provider-aws_v5.82.2_x5
terraform/.terraform/providers/registry.terraform.io/hashicorp/aws/5.82.2/darwin_arm64/LICENSE.txt
terraform/tfplan.out
